* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --title-primary: #fff;
    --title-secondary: #835aee;
    --description-color: #a1a1aa;

    --background-color: #0b0d27;
    --border-color: #271d53;
}

.components_container {
    width: 100%;
    height: 100%;
    background-color: #090a1c;
}